.Clock  {
  font-size: 10vw;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: var(--clock-color, black);
}

@media (max-width: 768px) {
  .Clock {
    font-size: 16vw;
  }
}
